<div class="card">
    <div class="card-header">
        <h3 class="card-title">Tags</h3>
        <div class="card-options">
            <a href="{{ url_for("tag_add") }}" class="btn btn-primary btn-sm">New Tag</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table card-table table-striped">
            <thead>
                <tr>

                    <th>Name</th>
                    <th>Slug</th>
                    <th class="text-right">Count</th>

                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                <tr>

                    <td>
                        <h5 class="m-0"><a href="{{ url_for("tag_edit", tag_id=tag.id) }}">{{ tag.name }}</a>
                        </h5>
                        <div class="card-options">
                            <a href="{{ url_for("tag_edit", tag_id=tag.id) }}"
                                class="small text-primary ml-0 mr-2">Edit</a>
                            <a href="javascript:void(0)" class="small text-danger">Delete</a>
                        </div>

                    </td>
                    <td>{{ tag.slug }}</td>
                    <td class="text-right">
                        {% if tag.count == 0 %}
                        <span class="btn btn-sm btn-secondary disabled">{{ tag.count }}</span>
                        {% else %}
                        <a href="{{ url_for("tag", slug=tag.slug) }}" class="btn btn-sm btn-dark"
                            target="_blank">{{ tag.count }}</a>
                        {% endif %}

                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>