{% extends "_layouts/default.html" %}
{% block page_title %}Edit: {{ theme_author.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <section class="card shadow-sm rounded-1">
                <form method="POST" action="{{ url_for("theme_author_edit", theme_author_id=theme_author.id) }}">
                    <div class="card-status bg-primary"></div>
                    <div class="card-header">
                        <h3 class="card-title"><b>Edit Theme Author:</b> {{ theme_author.name }}
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="input_name">
                                <strong>Theme Author Name:</strong>
                            </label>
                            <input id="input_name" type="text" name="name" class="form-control"
                                value="{{ theme_author.name }}" required maxlength="80">
                        </div>
                        <div class="form-group">
                            <label for="input_slug">
                                <strong>Slug:</strong>
                            </label>
                            <input id="input_slug" type="text" name="slug" class="form-control"
                                value="{{ theme_author.slug }}" required maxlength="80">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Github Username</label>
                            <div class="input-group">
                                <span class="input-group-prepend" id="basic-addon3">
                                    <span class="input-group-text">https://github.com/</span>
                                </span>
                                <input type="text" class="form-control" id="github_username"
                                    aria-describedby="basic-addon3" name="github_username"
                                    value="{{ theme_author.github_username }}">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-options d-flex">
                            <a href="/" class="btn btn-link text-dark">Cancel</a>
                            <div class="ml-auto">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fe fe-save mr-2"></i> Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-7">
            {% include "_includes/theme-author/edit.html" %}
        </div>
    </div>
</div>
{% endblock %}