{% extends "_layouts/empty.html" %}
{% block page_title %}Login{% endblock %}

{% block content %}
<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">
          <div class="text-center mb-6">
            <img src="./demo/brand/tabler.svg" class="h-6" alt="">
          </div>
          <div class="card" id="login-container">
            <div class="card-body d-flex flex-column text-center p-6">
              <h2>Please Login</h2>
              <div class="text-muted">You can login via Facebook or Google</div>
              <div class="button-container my-5">
                <a class="btn btn-facebook btn-block mb-2" href="{{ url_for('oauth_authorize', provider='facebook') }}">
                  <i class="fa fa-facebook mr-2"></i>
                  <span class="ml-4">Login via Facebook</span>
                </a>
                <a class="btn btn-google btn-block" href="{{ url_for('oauth_authorize', provider='google') }}">
                  <i class="fa fa-google mr-2"></i>
                  <span class="ml-3">Login via Google</span>
                </a>
              </div>
            </div>
          </div>
          <div class="text-center text-muted">
            Don't have an account? <a href="/">Return to Home Page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}